[Desktop Entry]
Name=RecWay
Comment=A frontend for wf-recorder screen recorder
Exec=recway
Icon=camera-video-symbolic
Terminal=false
Type=Application
Categories=AudioVideo;Video;Recorder;
Keywords=screen;recorder;wayland;capture;
StartupNotify=true
